<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, iniital-scale=1;">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="shortcut icon" href="{% static 'Vote/ico_logo.ico' %}" type="image/x-icon">
        <!--    custom style sheets for every page    -->
        <link rel="stylesheet" type="text/css" href="{% static 'Vote/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Vote/credits.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Vote/login.css' %}">


        <style>
         .navbar-brand {
             float: none;
         }
        </style>

    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class=" navbar-header">
                    <img src="{% static 'Vote/logo_main.png' %}" width=50 height=50 style="margin-left:4em;">
                    <a class="navbar-brand {% if nbar == 'vote' %}active{% endif %}" href="{% url 'Vote:home' %}">Smart Voting System</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="{% if nbar == 'home' %}active{% endif %}"><a href="{% url 'Vote:home' %}">Home</a></li>

                    {% if user.is_authenticated %}
                        <li class="{% if nbar == 'vote' %}active{% endif %}"><a href="{% url 'Vote:vote' %}">Cast Vote</a></li>
                    {% endif %}

                    <li class="{% if nbar == 'face_index' %}active{% endif %}"><a href="{% url 'Vote:face_index' %}">Add Facedata</a></li>
                    <li class="{% if nbar == 'results' %}active{% endif %}"><a href="{% url 'Vote:results' %}">Results</a> </li>
                    <li class="{% if nbar == 'about' %}active{% endif %}"><a href ="{% url 'Vote:about' %}">About</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>

                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'Vote:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                    </ul>

                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'Vote:login' %}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                    </ul>

                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}
        <footer style="background-color: rgb(28, 28, 28);padding:2em 0;position:relative;bottom:0px;width:100%">
          <p class="text-center" style="margin-bottom:0;color:#fff">&copy; Copyright <strong>Muhammad Mohsin Zia</strong>. All Rights Reserved</p>
        </footer>
        <!-- Custom scripts for this template -->
        <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/particles.min.js' %}" ></script>
        <script src="{% static 'script.js' %}"></script>

    </body>
</html>
